<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="blcs.lwb.lwbtool">
    <!--自动安装apk-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--全局异常捕获-->
        <activity
            android:name=".utils.crash.DefaultErrorActivity"
            android:process=":error_activity" />
        <provider
            android:name=".utils.crash.CaocInitProvider"
            android:authorities="${applicationId}.customactivityoncrashinitprovider"
            android:exported="false"
            android:initOrder="101" />

    </application>
</manifest>
